.actionContainer {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .actionContainer {
    width: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .actionContainer {
    width: 200px;
  }
}
