:root {
  --app-background: #282c34;
  --grid-border: seagreen;
  --symbol-color: #ffffff;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--app-background);
}

.App-link {
  color: #61dafb;
}
